.tutumi{
    background-color: blue;
}
.sidebar{
    background-color:a;
    width:300px;
    display:flex;
    flex-direction:column;
    padding-top: 24px;
    padding-left:32px;
    padding-right:32px;
}

  
.button2{
   width:30px;
}

.profile{
    height:35px;
}

.home{
    display:block;
}

.sidebar-header{
    margin-bottom:24px;
}

.sidebar-menu{
    display:flex;
    flex-direction: column;
    gap: 12px;
}

.sidebar-menu-item1{
    display:flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    font-size: 24px;
}

.sidebar-post-button{
    background-color:black;
    margin-top: 40px;
    color: white;
    padding:12px;
    border-radius: 30px;
    text-align: center;
    font-size:20px;
    cursor: pointer;
}

.sidebar-menu-item2{
      display:flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    font-size: 24px;
}

.sidebar-menu-item3{
      display:flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    font-size: 24px;
}

.sidebar-menu-item4{
      display:flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    font-size: 24px;
}

.sidebar-menu-item5{
      display:flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    font-size: 24px;
}

.sidebar-menu-item6{
      display:flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    font-size: 24px;
}

.sidebar-menu-item7{
      display:flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    font-size: 24px;
}

.sidebar-menu-item8{
      display:flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    font-size: 24px;
}

.sidebar-menu-item9{
      display:flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    font-size: 24px;
}

.sidebar-menu-item10{
      display:flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    font-size: 24px;
}

.sidebar-menu-item11{
      display:flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    font-size: 24px;
}

.sidebar-menu-item12{
      display:flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    font-size: 24px;
    margin-top:14px;
}