.tutumi{
    background-color: blue;
}
.sidebar{
    background-color: green;
    width:300px;
    display:flex;
    flex-direction:column;
}

.button1{    
    width:30px;
}
  
.button2{
   width:30px;
}




