.tutumi{
    background-color: blue;
}
.sidebar{
    background-color: green;
    width:300px;
    display:flex;
    flex-direction:column;
    padding:10px;
}

  
.button2{
   width:30px;
}

.profile{
    height:35px;
}



