
.suggestion{ 
    background-color: red;
    flex-grow: 2;
    flex-direction: column;
    display: flex;
    padding: 12px;
    max-width: 300px;
}

.kennsaku{
    width: 60%;
    border-radius: 20px;
    padding: 8px;
}

.kounyuu{
    border: 6px double black;
    background-color: aliceblue;
    padding:10px;
    margin-top:20px;
}

.kounyuubotann{
color: white;
background-color: skyblue;
padding: 8px;
border-radius: 10px;
cursor: pointer;
}

.hutomozi{
    font-size: 30px;
}

.kae{
    font-size: 20px;
}

.a{
    border: 4px solid black;
    background-color: aliceblue;
    height: 500px;
    margin-top: 20px;
    padding: 10px;
}