
.timeline{
    background-color: white;
}

.kakoi1{
    flex-grow: 2;
    border-left:1px solid #d3d1cb;
    border-right:1px solid #d3d1cb;
}

.kakoi2{
    border:4px solid #d3d1cb;
    background-color: aliceblue;
    margin-top: 20px;
    padding: 10px;
}
.box {
  position:relative;
  height: 90px;
}

.text {
  position: absolute;
  width: 100%;
  height:20%;
  box-sizing: border-box;
  border: none;
  background-color: aliceblue;
  outline: none;
}

.button {
  position: absolute;
  bottom: 0;
  left: 75%;
  right: 0;
  width: 20%;
  box-sizing: border-box;
  background-color: skyblue;
  padding: 10px;
  border-radius:8px;
  cursor: pointer;
}


