
.timeline{
    background-color: white;
}

.kakoi1{
    flex-grow: 2;
    border-left:1px solid #d3d1cb;
    border-right:1px solid #d3d1cb;
}

.kakoi2{
    border:4px solid #d3d1cb;
    background-color: aliceblue;
    margin-top: 20px;
    padding: 10px;
}
.box {
  position:relative;
  height: 90px;
}

.text {
  position: absolute;
  width: 100%;
  box-sizing: border-box;
  border: none;
  background-color:aliceblue;
  outline: none;
  resize: none;
  height: 100%;
}

.button {
  position: absolute;
  bottom: 0;
  left: 75%;
  right: 0;
  width: 20%;
  box-sizing: border-box;
  background-color: skyblue;
  padding: 10px;
  border-radius:8px;
  cursor: pointer;
}

.post-card {
  width: 500px;
  border: 1px solid #e2e2e2;
  display: flex;
  flex-direction: row;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.post-icon-area {
  padding: 4px;
}

.post-icon {
  width: 32px;
  height: 32px;
  border-radius: 100%;
  background-color: #585858;
}

/* Content Area */
.post-content-area {
  flex-grow: 1;
  padding-left: 12px;
  padding-right: 12px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.post-content-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 4px;
  padding-left: 4px;
  padding-right: 4px;
}

.post-content-header-left {
  display: flex;
  flex-direction: row;
  gap: 4px;
}

.post-content-header-username {
  font-weight: 800;
}

.post-content-header-id {
  font-weight: 300;
  font-size: 16px;
  color: #636363;
}

.post-content-header-time {
  font-weight: 300;
  font-size: 16px;
  color: #636363;
}


.post-content-main {
  border: 1px solid skyblue;
}

.post-content-image {
  border: 1px solid skyblue;
}

.post-content-buttons {
  border: 1px solid skyblue;
}

.post-content-buttons{
  display: flex;

}

.left{
  display:grid;
  flex-grow:1;
  grid-template-columns: repeat(5,1fr);
  gap: 20px;
  border-radius: 100%;
  padding: 10px;
}

.right{
  display: flex;
  padding:10px;
  gap:5px;
}

.koko{
   border-radius: 100%;
}

